*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}
#menu{
    display: flex;
    justify-content: space-around;
    padding: 1.5%;
    padding: 3.5vh 0 72vh 0;
}
#menu a{
    color: white;
    font-size: 1.3em
}
#back{
    background-image: url(../senai-pontodigital/img/banner\ ponto\ digital.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#logo{
    width: 100%;
    height: 18%;
    margin-top: -12.8vh;
    margin-bottom: -1vh
}
h2{
    font-size: 3em;
    padding: 2%;
    color: #00347f;
}
#produto p{
    font-size: 1.3em;
    padding-bottom: 4%
}
#funcionamento{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3em;
}
h3{
    color: #f2a620;
    padding-bottom: 3%;
}
.bola{
    padding: 5%;
}
.imagem{
    padding-bottom: 6%;
}
#planos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.a1 {
    box-shadow: 1px 1px black, 
               -1px 1px black,
               1px -1px black,
              -1px -1px black;
              width: 20%;
              height: 70vh;
        margin-top: 3%; 
        
    }
    .a1 h4{
        font-size: 3em;
        text-transform: uppercase;
        padding: 7%;
        color: #005eb9;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
     .a1 p{
        font-size: 1.8em;
        padding: 6%;
    }
    .a2 {
        box-shadow: 1px 1px black, 
        -1px 1px black,
        1px -1px black,
        -1px -1px black;
        width: 20%;
        height: 70vh;
        margin-top: 3%; 
    }
        .a2 h4{
            font-size: 3em;
            padding: 7%;  
            color: #005eb9;
            -webkit-text-stroke-color: black;
            -webkit-text-stroke-width: 1px;
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    .a2 p{
        font-size: 1.8em;
        padding: 6%;
    }
    .a3 {
        box-shadow: 1px 1px black, 
        -1px 1px black,
        1px -1px black,
        -1px -1px black;
        width: 20%;
        height: 70vh;
        margin-top: 3%; 
    }
    .a3 h4{
        font-size: 3em;
        padding: 7%;  
        color: #005eb9;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif 
}
.a3 p{
    font-size: 1.8em;
    padding: 6%;
}
    .a4{
        background:  #005eb9;
        color: #f2a620;
        width: 20%;
        height: 70vh;
        margin-top: 3%;
        padding-top: 18vh; 
        font-size: 4em; 
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    }
    #spn{
        color: #f2a620;
        font-size: 3em;
        font-family: 'calibri';
    }
    article a{
        font-size: 1.8em;
        background-color: #005eb9;
        padding: 3vh 10vh;
        border-radius: 5%;
        color: white;
    }
    .foto{
        width: 5%;
        height: 5%;
        border-radius: 30%;
        }
    .papa{
        display: flex;
    }
    #comentarios h2{
        margin: 7%;
    }
    