*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}
#menu{
    display: flex;
    justify-content: space-around;
    padding: 3.5vh 0 3.5vh 0;
    width: 100%;
    background-color: black;
    margin-bottom: -;
    position: fixed 
}
#menu a{
    color: white;
    font-size: 1.6em;
    font-family: 'Sui Generis'
}
#menu a:hover{
    color: #005eb9;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.5px;
}
#espa{
    height: 9.8vh;
}
.imagem1{
    width: 100%;
    animation: ani 2s linear;
    z-index: 1;
}
#imag{
    background-color: black;

}
      @keyframes ani {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    
.imagem2{
    width: 100%
}
.imagem3{
    width: 100%
}
#logo{
    width: 100%;
    background: #ffa700;
    color:#ffa700;
    padding: 3vh 0 3vh 15vh;
}
h1{
    font-family: 'Sui Generis';
    font-size: 3em;
    padding: 4%;
    color: #005eb9;
}
h2{
    font-family: 'Sui Generis';
    font-size: 3em;
    padding: 4%;
    color: #005eb9;
}
#produto{
    max-width: 1300px;
    width: 90%;
    margin: auto;
}
#produto p{
    font-size: 1.8em;
    padding-bottom: 4%;
    margin-bottom: 5%;
}
#funcionamento{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3em;
    margin-bottom: 5% 
}
h3{
    color: #f2a620;
    padding-bottom: 3%;
    font-size: 2em;
    font-family: 'Sui Generis';
    align-items: center;
}
.bola{
    padding: 5%;
}
.bola p{
    font-size: 1.3em;
}
.imagem{
    margin-top: 16%;
    padding-bottom: 9%;
}
.imagens{
    margin-top: 16%;
    padding-bottom: 9%;
}
.imagemm{
    margin-top: 16%;
    padding-bottom: 9%;
}
#planos{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;   
}
.a1 {
    box-shadow: 1px 1px black, 
    -1px 1px black,
    1px -1px black,
    -1px -1px black;
    width: 20%;
    height: 70vh;
    margin-top: 3%; 
    border-radius: 20px;
    
    }
    .a1 h4{
        font-size: 2.2em;
        padding: 7%;
        color: #005eb9;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
        font-family: 'Sui Generis';
    }
    .a1 p{
        font-size: 1.8em;
        padding: 6%;
    }
    .a2 {
        box-shadow: 1px 1px black, 
        -1px 1px black,
        1px -1px black,
        -1px -1px black;
        width: 20%;
        height: 70vh;
        margin-top: 3%; 
        border-radius: 20px;
    }
    .a2 h4{
        font-size: 2.2em;
        padding: 7%;  
        color: #005eb9;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
        font-family: 'Sui Generis';
    }
    .a2 p{
        font-size: 1.8em;
        padding: 6%;
    }
    .a3 {
        box-shadow: 1px 1px black, 
        -1px 1px black,
        1px -1px black,
        -1px -1px black;
        width: 20%;
        height: 70vh;
        border-radius: 20px;
        margin-top: 3%; 
    }
    .a3 h4{
        font-size: 2.2em;
        padding: 7%;  
        color: #005eb9;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
        font-family: 'Sui Generis';
    }
    .a3 p{
        font-size: 1.8em;
        padding: 6%;
    }
    .a4{
        background:  #005eb9;
        color: #f2a620;
        width: 20%;
        height: 70vh;
        margin-top: 3%;
        padding-top: 18vh; 
        font-size: 3.9em; 
        border-radius: 20px;
        font-family: 'Sui Generis';
    }
    #spn{
        color: #f2a620;
        font-size: 2.6em;
        font-family: 'calibri';
    }
    article a{
        font-size: 1.8em;
        background-color: #005eb9;
        padding: 3vh 7vh;
        border-radius: 5%;
        color: white;
    }
    .foto{
        width: 20%;
        height: 20%;
        border-radius: 30%;
    }
    .papa{
        margin: 5vh 0
    }
    #comentarios h2{
        margin: 5%;
    }
    .flexii{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center
    }
    .flexiiii{
        display: flex;
        justify-content: left;
        flex-direction: row;
        align-items: center;
        
    }
    .flexiiii p{
        margin: 0 0 0 5vh;
        font-size: 2em;
        text-align: left
    }
    .left{
        padding-left: -5vh
    }
    #qwerty{
        color: #005eb9;
        font-family: 'Sui Generis'
    }
    #SAC h2{
        margin-top: 13%;
        margin-bottom: 4%;
    }
    .form{
        display: flex;
        flex-direction: column;
        max-width: 1400px;
        width: 90%;
        margin: auto;
    }  
    .bla input{
        width: 60vh;
        height: 5vh;
        margin: 1%;
    }   
    ::placeholder{
        text-align: left;
        font-size: 1.5em;
    }   
    .submitt{
        width: 20%;
        height: 7vh;
        border-radius: 10px;
        background-color: #f2a620;
        font-size: 1.2em;
        margin-left: auto;
        margin-right: 7.5%;
        margin-top: 2%;
        
    }
    #quemsomos h2{
        color: white;
        padding-bottom: 4%
    } 
    #quemsomos img{
        width: 12%;
        height: 12%;
        padding: 4% 1% 4% 1%; 
    }  
    #quemsomos p{
        font-size: 1.8em;
        color: white;
        width: 65%;
        margin: 0 auto
    } 
    #quemsomos{
        margin: auto;
        margin-top: 15%;
        background-color: #005eb9;
        background-size: cover;
        padding-bottom: 10%;
        width: 100%
    }    
    #cadastro h2{
        margin: 5%;
    }   
    #cadastro h3{
        font-size: 2.5em;
    } 
    .cad{
        display: flex;
        flex-direction: column;
    }   
    .cad input{
        height: 5vh;
        width: 60vh;
        margin: 2.5%;
        font-size: 1em;
        box-shadow: 1px 1px black,
        -1px 1px black,
        1px -1px black,
        -1px -1px black;
        border-radius: 10px;
        border: none;
    }
    .amem{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 1400px;
        width: 90%;
        margin: auto;
        padding-bottom: 15%;
        
    }
    .submittt{
        box-shadow: 1px 1px black,
        -1px 1px black,
        1px -1px black,
        -1px -1px black;
        border-radius: 10px;
        background-color: #f2a620;
        border: none;
        
    }
    footer{
        background-color: #005eb9;
    }
    address{
        font-size: 1.6em;
        color: white;
        text-align: left
    }
    #idiomas{
        height: 7vh;
        width: 20%;
        font-size: 1.3em;
        margin: 3%;
    }
    
    #rodape{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 5%
    }
    #oi img{
        height: 4vh;
        margin: 0 2vh
    }
    @media screen and (max-width:1480px){
        article a{
            padding: 3vh 5vh; 
        }
        .a1 h4{
            font-size: 2.1em;
        }
        .a2 h4{
            font-size: 2.1em;
        }
        .a3 h4{
            font-size: 2.1em;
        }
        .a1 p{
            font-size: 1.6em;
        }
        .a2 p{
            font-size: 1.6em;
        }
        .a3 p{
            font-size: 1.6em;
        }
    }
    @media screen and (max-width:1366px){
        #menu a{
            color: white;
            font-size: 1.3em;
            font-family: 'Sui Generis'
        }
        #espa{
            height: 9.6vh;
        }
        .linha{
            width: 80vh
        }
        .bola p{
            font-size: 1.2em
        }
        .imagem{
            width: 50%;
        }
        .imagens{
            width: 60%;
            margin-top: 16%;
        }
        .imagemm{
            width: 50%;
            margin-top: 12%;
        }
        .a1{
            width: 40%;
        }
        .a2{
            width: 40%;
        }
        .a3{
            width: 40%;
        }
        .a4{
            width: 40%;
        }
        .a1 h4{
            font-size: 2.8em;
        }
        .a2 h4{
            font-size: 2.8em;
        }
        .a3 h4{
            font-size: 2.8em;
        }
        .a1 p{
            font-size: 1.8em;
        }
        .a2 p{
            font-size: 1.8em;
        }
        .a3 p{
            font-size: 1.8em;
        }
        h3{
            font-size: 1.8em;
            align-items: center;
        }
    }
    
    @media screen and (max-width:1000px){
        #menu a{
            color: white;
            font-size: 1em;
            font-family: 'Sui Generis'
        }
        #espa{
            height: 9vh;
        }
        h1{
            font-size: 2.8em;
            margin-top: 4%;
            margin-bottom: 4%;
        }
        h2{
            font-size: 2.8em;
            margin-top: 4%;
            margin-bottom: 4%;
        }
        .linha{
            width: 60vh
        }
        #produto p{
            font-size: 1.6;
        }
        #funcionamento{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
        }
        .imagem{
            width: 30%;
        }
        .imagens{
            width: 40%;
            margin-top: 16%;
        }
        .imagemm{
            width: 30%;
            margin-top: 12%;
        }
    }
    @media screen and (max-width:940px){
        .linha{
            width: 50vh
        }
        .a1 h4{
            font-size: 2.3em;
        }
        .a2 h4{
            font-size: 2.3em;
        }
        .a3 h4{
            font-size: 2.3em;
        }
    }
    @media screen and (max-width:768px){
        .linha{
            width: 40vh
        }
        h1{
            font-size: 2.6em;
            margin-top: 5%;
            margin-bottom: 5%;
        }
        h2{
            font-size: 2.6em;
            margin-top: 5%;
            margin-bottom: 5%;
        }
        #cadastro h3{
            font-size: 1.8em;
        }
        .cad input{
            height: 4vh;
            width: 35vh;
            font-size: 0.8em;
        }
        #produto p{
            font-size: 1.5em;
        }
        .a1{
            width: 80%;
        }
        .a2{
            width: 80%;
        }
        .a3{
            width: 80%;
        }
        .a4{
            width: 80%;
        }
        .a1 h4{
            font-size: 2.6em;
        }
        .a2 h4{
            font-size: 2.6em;
        }
        .a3 h4{
            font-size: 2.6em;
        }
        .a1 p{
            font-size: 1.6em;
        }
        .a2 p{
            font-size: 1.6em;
        }
        .a3 p{
            font-size: 1.6em;
        }
        article a{
            padding: 3vh 6.5vh;
        }
    }
    @media screen and (max-width:500px){
        h1{
            font-size: 2em;
            margin-top: 10%;
            margin-bottom: 10%;
        }
        h2{
            font-size: 2em;
            margin-top: 10%;
            margin-bottom: 10%;
        }
        .a1 h4{
            font-size: 2.3em;
        }
        .a2 h4{
            font-size: 2.3em;
        }
        .a3 h4{
            font-size: 2.3em;
        }
    }
    @media screen and (max-width:360px){
        h1{
            font-size: 2.3em;
            margin-top: 10%;
            margin-bottom: 10%;
        }
        h2{
            font-size: 1.7em;
            margin-top: 10%;
            margin-bottom: 10%;
        }
        #produto{
            margin: 5%;
        }
        #produto p{
            font-size: 1.3em;
        }
        .linha{
            width:25vh
        }
        h3{
            font-size: 1.7em;
        }
        .bola p{
            font-size: 1.1em;
        }
        article a{
            padding: 3vh 3vh;
        }
        .a1 h4{
            font-size: 2.1em;
        }
        .a2 h4{
            font-size: 2.1em;
        }
        .a3 h4{
            font-size: 2.1em;
        }
        .a4{
            margin-bottom: 15%
        }
        .flexiiii p{
            font-size: 1.4em;
        }
        .flexii{
            display: flex;
            flex-wrap: wrap;
            margin-left: 8%; 
        }
        .foto{
            width: 25%;
            height: 25%;
        }
        #qwerty{
            font-size: 1.1em
        }
        .bla input{
            width: 30vh;
            height: 4vh;
            margin: 1%;
        }  
        .submitt{
            width: 50%;
            height: 4vh; 
            font-size: 1.1em;
        }
        #quemsomos{
            padding-top: 10%;
        }
        #quemsomos p{
            font-size: 1.4em;
            width: 90%;
            padding-bottom: 10%;
        }
        #quemsomos img{
            width: 20%;
            height: 20%;
    }
    #cadastro h3{
        font-size: 1.6em;
    }
    .cad input{
        height: 4vh;
        width: 30vh;
        font-size: 0.8em;
    }
}
    
    