*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
}
#menu{
    display: flex;
    justify-content: space-around;
    padding: 1.5%;
    padding: 3.5vh 0 72vh 0;
}
#menu a{
    color: white;
    font-size: 1.4em;
    font-family: 'Sui Generis'
}
#menu a:hover{
    color: #005eb9;
    -webkit-text-stroke-color: white;
    -webkit-text-stroke-width: 0.5px;
}
#back{
    background-image: url(../senai-pontodigital/img/banner\ ponto\ digital.png);
    background-size: cover;
    background-repeat: no-repeat;
}
#logo{
    width: 100%;
    height: 18%;
    margin-top: -12.8vh;
    margin-bottom: -1vh
}
h2{
    font-family: 'Sui Generis';
    font-size: 3em;
    padding: 4%;
    color: #005eb9;
}
#produto{
    max-width: 1300px;
    width: 90%;
    margin: auto;
}
#produto p{
    font-size: 1.8em;
    padding-bottom: 4%;
    margin-bottom: 5%;
}
#funcionamento{
    display: flex;
    justify-content: space-evenly;
    font-size: 1.3em;
    margin-bottom: 5% 
}
h3{
    color: #f2a620;
    padding-bottom: 3%;
    font-size: 2em;
    font-family: 'Sui Generis';
    align-items: center;
}
.bola{
    padding: 5%;
}
.bola p{
    font-size: 1.3em;
}
.imagem{
    margin-top: 16%;
    padding-bottom: 9%;
}
#planos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.a1 {
    box-shadow: 1px 1px black, 
               -1px 1px black,
               1px -1px black,
              -1px -1px black;
              width: 20%;
              height: 70vh;
        margin-top: 3%; 
        
    }
    .a1 h4{
        font-size: 2.8em;
        padding: 7%;
        color: #005eb9;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
        font-family: 'Sui Generis';
    }
    .a1 p{
        font-size: 1.8em;
        padding: 6%;
    }
    .a2 {
        box-shadow: 1px 1px black, 
        -1px 1px black,
        1px -1px black,
        -1px -1px black;
        width: 20%;
        height: 70vh;
        margin-top: 3%; 
    }
    .a2 h4{
        font-size: 2.8em;
        padding: 7%;  
        color: #005eb9;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
        font-family: 'Sui Generis';
    }
    .a2 p{
        font-size: 1.8em;
        padding: 6%;
    }
    .a3 {
        box-shadow: 1px 1px black, 
        -1px 1px black,
        1px -1px black,
        -1px -1px black;
        width: 20%;
        height: 70vh;
        margin-top: 3%; 
    }
    .a3 h4{
        font-size: 2.8em;
        padding: 7%;  
        color: #005eb9;
        -webkit-text-stroke-color: black;
        -webkit-text-stroke-width: 1px;
        font-family: 'Sui Generis';
    }
    .a3 p{
        font-size: 1.8em;
        padding: 6%;
    }
    .a4{
        background:  #005eb9;
        color: #f2a620;
        width: 20%;
        height: 70vh;
        margin-top: 3%;
        padding-top: 18vh; 
        font-size: 3.9em; 
        font-family: 'Sui Generis';
    }
    #spn{
        color: #f2a620;
        font-size: 2.6em;
        font-family: 'calibri';
    }
    article a{
        font-size: 1.8em;
        background-color: #005eb9;
        padding: 3vh 10vh;
        border-radius: 5%;
        color: white;
    }
    .foto{
        width: 20%;
        height: 20%;
        border-radius: 30%;
        }
    .papa{
        margin: 5vh 0
    }
    #comentarios h2{
        margin: 7%;
    }
    .flexii{
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: center
    }
    .flexiiii{
        display: flex;
        justify-content: left;
        flex-direction: row;
        align-items: center;
        
    }
    .flexiiii p{
        margin: 0 0 0 5vh;
        font-size: 2em;
        text-align: left
    }
    #arrumar{
        width: 30%;
        height: 30%;
    }
    .left{
        padding-left: -5vh
    }
    #SAC h2{
        margin-top: 13%;
        margin-bottom: 4%;
    }
    .form{
        display: flex;
        flex-direction: column;
        max-width: 1230px;
        width: 90%;
        margin: auto;
    }  
    .bla input{
        width: 45%;
        height: 5vh;
        margin: 1%;
    }   
    ::placeholder{
        text-align: left;
        font-size: 1.5em;
    }   
    .submitt{
        width: 20%;
        height: 7vh;
        border-radius: 10px;
        background-color: #f2a620;
        font-size: 1.2em;
        margin-left: auto;
        margin-right: 4%;
        margin-top: 2%;
        
    }     
    #quemsomos h2{
        color: white;
    } 
    #quemsomos img{
        width: 8%;
        height: 8%;
    }  
    #quemsomos p{
        font-size: 2em;
        color: white;
    } 
    #quemsomos{
        margin-top: 15%;
        background-color: #005eb9;
        padding: 10%;
    }    
    #cadastro h2{
        margin: 5%;
    }   
    #cadastro h3{
        font-size: 2.5em;
    } 
     .cad{
         display: flex;
         flex-direction: column;
     }   
     .cad input{
         height: 5vh;
         width: 80vh;
         margin: 2.5%;
         font-size: 0.7em;
     }
    .amem{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 1300px;
        width: 90%;
        margin: auto;
        padding-bottom: 15%;
  
    }
    .submit{
        border-radius: 10px;
        background-color: #f2a620;
        -webkit-border-before-width: 1px;
        -webkit-border-before-color: black;
    }
    footer{
        background-color: #005eb9;
    }
    address{
        font-size: 1.6em;
        color: white;
        padding: 2%;
    }
    .pic{
        width:2%;
        height: 2%;
    }
    .face{
        width: 1%;
        height: 1%;
    }
    
   
  
    
    