   <main>
        <div>
            <br><br><br><br>
            <section id="produto">
                <h1>Ponto Digital</h1>
                <p>O Ponto Digital é uma ótima solução quando se trata de funcionários. Com o nosso site você pode
                    controlar o rendimento do trabalho de cada funcionário em tempo real, e principalmente, a qualquer
                    hora, no computador, tablet ou smartphone, otimizando assim tempo e dinheiro. </p>
            </section>
            <img class="linha" src="images/linha descrição .png" alt="linha">
            <section id="funcionamento">

                <div class="bola">
                    <img class="imagens" src="images/Camada 0.png" alt="">
                    <h3>Eficiente</h3>
                    <p>Tenha acesso a todas as informações como a hora em que o funcionário começou o trabalho e
                        finalizou, onde ele bateu o ponto e algumas estatisticas sobre seu rendimento </p>
                </div>

                <div class="bola">
                    <img class="imagem" src="images/Camada 01.png" alt="">
                    <h3>Essencial</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit at quae eligendi, voluptatum optio
                        facere debitis nisi ipsam iure qui harum, dolore culpa nihil consseudyewhyyrywe </p>
                </div>

                <div class="bola">
                    <img class="imagemm" src="images/Camada 02.png" alt="">
                    <h3>Economico</h3>
                    <p>Economize tempo e dinheiro com acesso em qualquer lugar como computador, tablet e smartphone e a
                        qualquer hora com a disponibilidade de 100% da Agora vai para você!</p>
                </div>

            </section>

        </div>

        <h2 id="plano">Conheça nossos planos</h2>
        <section id="planos">
            <div class="box">
                <div class="a1">
                    <a href="#cadastro">
                        <h4>Basic</h4>
                        <p>R$ <span id="spn"> 29,90</span></p>
                        <p>Ideal para empresas de pequeno porte
                            <br> Permite gerenciar
                            até 5 funcionários</p>
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="a1">
                    <a href="#cadastro">
                        <h4>Advanced</h4>
                        <p>R$ <span id="spn">149,90</span></p>
                        <p>Ideal para empresas de porte médio
                            <br> Permite gerenciar
                            até 50 funcionários</p>
                    </a>
                </div>
            </div>

            <div class="box">
                <div class="a1">
                    <a href="#cadastro">
                        <h4>Professional</h4>
                        <p>R$<span id="spn">299,90</span></p>
                        <p>Ideal para empresas de grande porte
                            <br> Permite gerenciar
                            até 300 funcionários</p>
                    </a>
                </div>
            </div>
            <div class="box">
                <div class="a1 a4">
                    <a href="#cadastro">
                        <p> Teste grátis por 30 dias!</p>
                    </a>
                </div>
            </div>

        </section>


        <section id="comentarios">
            <h2>Comentários</h2>
            <div class="flexii">
                <div>
                    <div class="papa flexiiii left">
                        <img class="foto" src="images/20190301-gloria-maria-2018-220171204_0003.jpg" alt="">
                        <p> <span id="qwerty"> Julia Maria </span><br><br> Muito íncrivel, excelente!</p>
                    </div>
                    <div class="papa flexiiii esquerda">
                        <img class="foto" src="images/20190301-gloria-maria-2018-220171204_0003.jpg" alt="">
                        <p><span id="qwerty">Gloria Pereira </span> <br><br> Amei o site</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="SAC">
            <h2>Converse conosco! <br> Deixe seu comentário e tire suas dúvidas aqui</h2>

            <form class="form" action="#" method="POST">
                <div class="bla">
                    <input type="text" name="nome" maxlength="50" placeholder="Nome Completo" required>
                    <input type="tel" name="tel" maxlength="20" placeholder="Telefone" required>
                </div>
                <div class="bla">
                    <input type="e-mail" name="e-mail" maxlength="50" placeholder="E-mail" required>
                    <input type="text" name="mensagem" maxlength="500" placeholder="Mensagem" required>
                </div>

                <input class="submitt" type="submit">
            </form>
        </section>

        <section id="quemsomos">
            <h2>Quem somos?</h2>
            <img src="images/Carlos.png" alt="Carlos Tsukamoto">
            <img src="images/César.png" alt="César Sportore">
            <p>A Agora vai nasceu em 2012, com a iniciativa de gerenciar funcionários digitalmente, para acabar com as
                fraudes ao bater o ponto e ter mais controle, utilizando técnologias modernas. No início era apenas uma
                ideia sem força, e acabou sendo desenvolvida por dois empreendedores incríveis, César Sportore e Carlos
                Tsukamoto que foram, ao longo dos anos, construindo nossa equipe de profissionais, que hoje têm orgulho
                de dizer que são da Agora vai.</p>
        </section>

        <section id="cadastro">
            <h2>Faça seu pedido aqui</h2>
            <div>

                <div class="amem">
                    <div>
                        <h3>Cadastre-se</h3>
                        <form method="POST" action="Home/Cadastrar" class="cad">
                            
                            <input type="text" name="nome" placeholder="Nome Completo" maxlength="50" required>
                            <input type="e-mail" name="email" placeholder="E-mail" maxlength="50" required>
                            <input type="password" name="senha" placeholder="Senha" maxlength="10" required>
                            <input type="date" placeholder= "Data de Nascimento" name="data-nascimento"  required>
                            <input class="submittt" type="submit" value="Cadastrar">
                        </form>
                    </div>

                    <div>
                        <h3 id="login">Login </h3>
                        <form method="POST" action="Home/Logar" class="cad">
                            <input type="e-mail" name="e-mail" placeholder="E-mail" maxlength="50" required>
                            <input type="password" name="senha" placeholder="Senha" maxlength="10" required>
                            <input class="submittt" type="submit" value="Logar">
                        </form>
                    </div>

                </div>
            </div>
            </div>
        </section>
   </main>