@{
var tipo = (string) ViewData["Tipo"];
var user = (string) ViewData["User"];
}

<head>
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/site.min.css" />
</head>

<main>
    <h2>@ViewData["Controller"] com sucesso!</h2>
</main>