 @{
var user = (string) ViewData["User"];
var tipo = (string) ViewData["Tipo"];
}
  <h1>Perguntas Frequentes</h1>
    <section id="perguntas">
        <div>
            <img id="foto" src="images/perguntas-png-3.png" alt="Duvidas">  
        </div>
        <div class="bla">
            <div class="qwer">
                <img id="seta" src="images/iconseta.png" alt="seta">
                    <div>
                    <h2>Como funciona?</h2>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Hic perferendis inventore debitis animi architecto tempore voluptatibus, nam et est ipsam recusandae consectetur maxime illum repudiandae laborum consequuntur nostrum cum magnam!</p>
                </div>
            </div>
            <div class="qwer">
                <img id="seta" src="images/iconseta.png" alt="seta">
                    <div>
                    <h2>Quanto custa?</h2>
                    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo aspernatur illo commodi eos dolores quidem autem. Soluta, assumenda voluptates ipsa fugiat non repellendus neque corrupti modi earum? Quidem, dolor fugiat.</p>
                </div>
            </div>
            <div class="qwer">
                <img id="seta" src="images/iconseta.png" alt="seta">
                    <div>
                    <h2>Tem acesso em smartphone?</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam amet quis ut expedita temporibus at. Quibusdam totam doloribus consectetur quae excepturi ea corporis officia magni, placeat sunt, temporibus, et blanditiis.</p>
                </div>
            </div>
        </div>
    </section>